
<div class="row justify-content-center">
    <div
      class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
    >
      <div class="card">
        <div class="card-body">
          <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">
              Login to Your Account
            </h5>
            <p class="text-center small">
              Enter your username & password to login
            </p>
          </div>

          <form class="row g-3 needs-validation" novalidate (ngSubmit)="registerUser()">
            <div class="col-12">
              <label for="yourUsername" class="form-label">Name</label>
              <div class="input-group has-validation">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  [(ngModel)]="user.name"
                />
                <div class="invalid-feedback">Please enter your username.</div>
              </div>
            </div>

            <div class="col-12">
                <label for="yourUsername" class="form-label">Email</label>
                <div class="input-group has-validation">
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    [(ngModel)]="user.email"
                  />
                  <div class="invalid-feedback">Please enter your username.</div>
                </div>
              </div>

            <div class="col-12">
              <label for="yourPassword" class="form-label">Password</label>
              <input
                type="password"
                name="password"
                class="form-control"
                [(ngModel)]="user.password"
              />
              <div class="invalid-feedback">Please enter your password!</div>
            </div>

            <div class="col-12">
                <label for="yourUsername" class="form-label">Address</label>
                <div class="input-group has-validation">
                  <input
                    type="text"
                    name="address"
                    class="form-control"
                    [(ngModel)]="user.address"
                  />
                  <div class="invalid-feedback">Please enter your address.</div>
                </div>
              </div>

              <div class="col-12">
                <label for="yourUsername" class="form-label">Phone</label>
                <div class="input-group has-validation">
                  <input
                    type="text"
                    name="phone"
                    class="form-control"
                   [(ngModel)]="user.phone"
                  />
                  <div class="invalid-feedback">Please enter your phone no.</div>
                </div>
              </div>

            <div class="col-12">
              <button class="btn btn-primary w-100" type="submit">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

